<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Luca Steam Web</title>
</head>

<body>
    <header id="header">
        <h1>LUCA STEAM WEB</h1>
    </header>

    <main id="container">
        <div class="buttons">
            <a class="buttons__item" href="/juego/add"><button class="buttons_btn">Subir juego</button></a>
            <a class="buttons__item" href="/juego/"><button class="buttons_btn">Obtener juegos</button></a>
            <a class="buttons__item" href="/juego/list/nintendo"><button class="buttons_btn">Obtener juegos Nintendo</button></a>
            <a class="buttons__item" href="/juego/list/generoByPlataforma"><button class="buttons_btn">Obtener juegos de género: plataforma</button></a>
            <form class="form-juego" method="post" th:action="@{/juego/list/genero}">
                <label for="genero">Género</label>
                <input type="text" name="genero" id="genero">
                <input class="buttons_btn" type="submit" value="Filtar">
            </form>
            <form class="form-juego" method="post" th:action="@{/juego/list/fecha}">
                <label for="fecha">Año</label>
                <input type="number" name="fecha" id="fecha">
                <input class="buttons_btn" type="submit" value="Filtrar">
            </form>
        </div>

        
       <div class="listContainer" style="overflow-x:auto;">
            <h2>Lista de Juegos</h2>
            <table> 
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Editor</th>
                        <th>Género</th>
                        <th>Plataforma</th>
                        <th>Ventas en EU</th>
                        <th>Fabricante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${juegos.empty}">
                        <td colspan="6">No Hay Juegos de verdad que no hay</td>
                    </tr>
                    <tr th:each="juego, status : ${juegos}">
                        <td><span th:text="${juego.nombre}"> </span></td>
                        <td><span th:text="${juego.fecha}"> </span></td>
                        <td><span th:text="${juego.editor}"> </span></td>
                        <td><span th:text="${juego.genero}"> </span></td>
                        <td><span th:text="${juego.plataforma}"> </span></td>
                        <td><span th:text="${juego.eu_sales}"> </span></td>
                        <td><span th:text="${juego.fabricante}"> </span></td>
                        <td><a th:href="@{/juego/edit(id=${juego.id})}">Editar</a> | <a
					    th:href="@{/juego/delete(id=${juego.id})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>